.footer {
    background-color: var(--hero-backgraund-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo{
    color: var(--button-active-color);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;

}

.logo-color-footer {
    color: var(--hero-color);
    padding-top: 0px;
    padding-bottom: 0px;
}
